*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
}

#container {
    width: 100%;
}

.logo {
    float: left;
    display: block;
    opacity:1;
    transition: opacity .5s ease;
}

.logo {

}

.logo:hover {
    transition: opacity .5s ease;
    opacity: .7;
}

#main-header {
    background-color: #ffffff;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #E7E7E7;
    border-top: 2px solid #A3A3A3;
}

#main-menu {
    background-color: #ffffff;
    height: 100%;
    width: 80%;
    float: right;
}

#main-menu ul {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    float: right;
}

#main-menu ul li {
    display: inline-block;
    margin: 0px -2px 0px -2px;
    padding: 0px 25px 0px 25px;
    height: 100%;

}

.item-hover {
    border-bottom: 2px solid #149DD2;
}

#main-menu ul li a {
    text-decoration: none;
    font-size: 10.5pt;
    font-family: 'Open Sans', sans-serif;
    color: #aeaeae;
    line-height: 75px;
    font-weight: 700;
    text-transform: uppercase;
}

#main-menu ul li a:hover {
    color: #149DD2;
}